body{
    background-color: aliceblue;
}
.weatherapp{
    background-color: rgb(181, 209, 238);
    max-width: 300px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 16px;


}
.search-form {
    background-color
    ;white;
}